/* vendors */
@import 'variables.scss';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'tables.scss';
@import 'schedule.scss';
@import 'forms.scss';
@import 'login.scss';

body {
  margin: 0;
  padding-top: $nav-height;
  background-color: $color-bg-main;
}

a:not(.btn) {
  color: $color-bg-content;
}

.navbar {
  /* background-color: #FFB464; */
  background-color: $color-menu-bar;
  color: $color-bg-content;

  a {
    color: $color-bg-content;
  }
}

.nav {
  li a{
    color: $color-bg-content;

    &:hover {
      background-color: $color-bg-secondary !important;
    }

    &:focus {
      background-color: $color-menu-bar;
    }
  }

  &.open a {
    background-color: $color-bg-secondary !important;

    &:focus {
      background-color: $color-bg-secondary !important;
    }
  }
}

.main-container {
  background-color: $color-bg-content;

  a:not(.btn) {
    color: $color-bg-secondary;
  }
}

.navbar-fixed-top {
  border: 0;
}

.icon-bar {
  background-color: $color-bg-content;
}

.dropdown-menu {
  background-color: $color-menu-bar;
}

.slot {
  margin-bottom: 20px;
}

.loading {
  background-size: 40px 40px;
  background-image: linear-gradient(45deg,rgba(88,88,88,.15) 25%,transparent 25%,transparent 50%,rgba(88,88,88,.15) 50%,rgba(88,88,88,.15) 75%,transparent 75%,transparent);
  animation: progress-bar-stripes 2s linear infinite;
}

.error {
  background-size: 40px 40px;
  background-image: linear-gradient(45deg,rgba(200,88,88,.15) 25%,transparent 25%,transparent 50%,rgba(200,88,88,.15) 50%,rgba(200,88,88,.15) 75%,transparent 75%,transparent);
  animation: none;
}

.select2-results__message {
  display: none !important;
}

[v-cloak] {
    display: none;
}

#app {
  min-height: calc(100vh - #{$nav-height} - 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .app-item {
    margin-bottom: 20px;
  }
}
