.form-control {
	border-radius: 0px;
	background-color: lighten($color-bg-main, 10%);
	border: none;
	border-bottom: 4px solid darken($color-bg-main, 20%);
	color: $color-bg-content;
	font-weight: bold;

	&:focus {
		border-color: $color-bg-secondary;
		box-shadow: none;
	}

	&[readonly] {
		background-color: lighten($color-menu-bar, 20%);
	}
}

ul.form-errors {
	margin-top: 5px;
	color: #A94141;
}

#subject-classroom-main {
	max-width: 80px;
}
.subject-classroom {
	max-width: 150px;
}
