.select-classroom-container {
	padding: 30px;
}

.hour {
	height: 54px;
}

#schedule-table .hour {
	padding: 0;
}

.schedule-item {
	color: white;
	height: 54px;
	padding: 7px;
	font-weight: bold;
	position: relative;
	font-size: 12px;
	font-weight: bold;
	width: 250px;

	.classroom {
		position: absolute;
		right: 0px;
		bottom: 0px;
		background-color: #555;
		padding: 2px;
	}

	.subject, .tutor {
		height: 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.main-search-container {
	width: 100%;
	text-align: center;

	.main-search {
		min-height: 50px;
		font-size: 25px;
		text-align: center;
	}
}

.select2-selection {
	border: none;
	font-size: 25px;
	text-align: center;
}

#app-now {
	background-color: $color-bg-secondary;
	padding: 10px;
	font-weight: bold;

	.now-title {
		font-size: 20px;

		.time {
			font-weight: normal;
			font-size: 18px;
		}
	}

	.now-content {
		display: flex;
		flex-wrap: wrap;

		.schedule-item {
			flex-grow: 1;
			margin: 5px;

			&.no-schedule {
				font-size: 17px;
				text-align: center;
				height: 30px;
			}
		}
	}
}
