.col-int{
	text-align: right;
}

.col-color {
	color: white;
	font-weight: bold;
}

.col-actions{
	text-align: right;
}

.td-hover {
	cursor: pointer;
}

.td-hover:hover {
	background-color: #EEDF7B;
}

td.occupied {
	background: repeating-linear-gradient(
		45deg,
		#909090,
		#909090 10px,
		#737373 10px,
		#737373 20px
	);
	color: white;
	font-weight: bold;
}

td.selected {
	background-color: $color-bg-secondary;
}

td.selected:hover {
	background-color: #CABB5B;
}
