/* Colors */
$color-menu-bar: #1F1C1B;
$color-bg-content: #F2E4C4;
$color-bg-main: #B67E3E;
$color-bg-secondary: #828920;

/* dimenions */
$nav-height: 50px;

/* bootstrap variable override */
$brand-primary: $color-bg-secondary;
$table-bg-accent: darken($color-bg-content, 10%);
