<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ config.USER_APP_NAME }}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
  </head>
  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ config.USER_APP_NAME }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              <li><a href="/subjects">Materias</a></li>
              <li><a href="/tutors">Profesores</a></li>
              <li><a href="/classrooms">Salones</a></li>
              <!--<li><a href="/export">Exportar</a></li>-->
              <li class="dropdown">
                <a href="#" class="dropdow-toggle" data-toggle="dropdown" role="button">
                  {{ current_user.username }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('user.change_password') }}">Cambiar password</a></li>
                  <li><a href="/user/sign-out">Salir</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="/user/sign-in">Iniciar sesión</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
              {% if messages %}
                {% for category, message in messages %}
                  {% if category=='error' %}
                    {% set category='danger' %}
                  {% endif %}
                  <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
              {% endif %}
            {%- endwith %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% block container %}
    <div class="container">
      {% block content_main %}{% endblock %}
    </div>
    {% endblock %}

    <script type="text/javascript" src="/static/js/vendor.js"></script>
    {% block scripts %}{% endblock %}

  </body>
</html>
