{% extends 'layouts/main.html' %}

{% block content_main %}
<div class="row">
	<div class="col-sm-12 main-container">
		<h3>Agregar Salón</h3>

		<form method="post" action="">
			{{ form.csrf_token }}
			{{ form.name(label='Nombre', autofocus=True) }}
			<button type="submit" class="btn btn-primary">{% if edit %}Guardar{% else %}Agregar{% endif %}</button>
		</form>

		<h3>Lista de Salones</h3>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th width="50" class="col-int">ID</th>
					<th>Nombre</th>
					<th width="100" class="col-actions"></th>
				</tr>
			</thead>

			<tbody>
				{% for classroom in classrooms %}
					<tr>
						<td class="col-int">{{ classroom.id }}</td>
						<td>{{ classroom.name }}</td>
						<td class="col-actions">
							<form method="post" action="/classrooms/{{ classroom.id }}/delete">
								<a href="/classrooms/{{ classroom.id }}" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i></a>
								<button type="submit" class="btn btn-danger btn-sm del-btn">
									<i class="fa fa-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% else %}
					<tr>
						<td>#</td>
						<td>No hay ningún salón aun...</td>
						<td class="col-actions"></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
