{% extends 'layouts/main.html' %}

{% block content_main %}
<div class="row">
  <div class="col-md-12 main-container">
    <h2>¿schequién?</h2>

    <p>Los presento: scheman, este es tu usuario, usuario, este es scheman.</p>

    <p>Scheman viene de schedule manager, por si te lo preguntabas</p>

    <h3>¿Juay de rito?</h3>

    <p>
      Como alumno de la facultad de matemáticas siempre me parecieron molestas
      dos cosas:
    </p>

    <ul>
      <li>navegar el formato en papel del horario de la facultad</li>
      <li>
        tratar de encontrar un salón libre para trabajar cuando estoy en la
        escuela, por que vivo muuuy lejos de ella
      </li>
    </ul>

    <p>Scheman resuelve esos dos problemas.</p>

    <h3>¿Qué onda con el título {{ config.USER_APP_NAME }}?</h3>

    <p>
      En una conversación en la que le mencioné de scheman a una persona de
      habla inglesa, me mencionó la posible pronunciación británica de scheman
      como <code>'ʃɛˈmæn</code> (sheman). Para hacerlo más claro busqué la
      escritura fonética de la pronunciación que yo uso <code>{{
      config.USER_APP_NAME }}</code> (skeman) y se convirtió en el título de la
      aplicación.
    </p>

    <h3>¿Y ahora qué hago con mi vida?</h3>

    <p>
      Eso, amig@, lo tienes que descubrir tu. Pero mientras lo haces usa la
      barra de búsqueda para encontrar las materias que llevas, el salón que
      quieres o el profesor que deseas encontrar.
    </p>

    <p>
      Scheman hará sus cosas y te dirá lo que pasa durante la semana con el
      objeto que buscaste.
    </p>

    <h3>¡Lo quiero en mi escuela/facultad!</h3>

    <p>
      Busca que no esté listada aun en <a
        href="http://scheman.tk">scheman.tk</a>, y si no lo está
      ¡Contáctame!
    </p>

    <p>Abajo está mi correo en la sección <i>toma mi dinero</i></p>

    <h3 id="creditos"><a href="#creditos">Créditos ególatras</a></h3>

    <p>
      El primer agradecimiento va directito y sin escalas a Eunice, quien de
      hecho tuvo la idea original que dio lugar a esta hermosa obra de cómputo,
      además de haber capturado el primer conjunto de datos que lo hacen
      funcionar y soportar las continuas intervenciones del tipo <i>Hey! mira
      la nueva cosa que le acabo de poner!</i> a media noche.
    </p>

    <p>
      De hecho en mi ausencia será ella quien responda preguntas en persona o
      en <code>Euniche.cano.garcia [at] gmail [dot] com</code>, ¡nos vemos el
      12 de febrero!
    </p>

    <p>Ah, si, la parte ególatra del asunto:</p>

    <p>
      Blame <a href="https://twitter.com/categulario"
        target="_blank">Categulario</a> for this amazing, outstanding,
      taco-fuelled, life-quality-ameliorative, überraschend work.
    </p>

    <h3>Toma mi dinero!</h3>
    <p>Contáctame en <code>categulario [at] gmail [dot] com</code></p>

    <h3>¡Encontré un bug!</h3>

    <p>
      ¡Excelente! considera reportarlo en <a
        href="https://gitlab.com/categulario/scheman/issues"
        target="_blank">gitlab</a>
    </p>
  </div>
</div>
{% endblock %}
