{% extends 'layouts/main.html' %}

{% block content_main %}
<div id="app">
  <div class="app-item">
    <select id="main-search" class="form-control main-search loading" multiple="multiple" autofocus></select>
  </div>

  <div id="app-now" class="app-item" v-if="schedule.length" v-cloak>
    <div class="now-title">Justo ahora <span class="time">{{'{{'}} time.format('dddd D [de] MMMM [de] YYYY, LT') {{'}}'}}</span></div>
    <div class="now-content">
      <div
        class="schedule-item"
        v-for="hour in currentSchedule"
        :style="{backgroundColor: hour.subject.color}"
      >
        <div class="subject">{{'{{'}} hour.subject.nrc + ' ' + hour.subject.name {{'}}'}}</div>
        <div class="tutor"><i>{{'{{'}} hour.subject.tutor.name {{'}}'}}</i></div>
        <div class="classroom">({{'{{'}} hour.classroom.name {{'}}'}})</div>
      </div>

      <div class="schedule-item no-schedule" v-if="currentSchedule.length == 0">
        Ningúna clase sucediendo ahora
      </div>
    </div>
  </div>

  <div class="app-item main-container" v-if="schedule.length" v-cloak>
    <div class="table-responsive" :class="{loading: loadingData}">
      <table id="schedule-table" class="table table-striped">
        <thead>
          <tr>
            <th class="text-right" width="50">Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
          </tr>
        </thead>

        <tbody>
          {% for h in range(7, 21) %}
            <tr>
              <td class="text-right">{{ h }}:00</td>

              {% for d in range(1, 6) %}
              <td id="d{{ d }}_h{{ h }}" class="hour">
                <div
                  class="schedule-item"
                  v-for="hour in schedule"
                  v-if="hour.day == {{ d }} && hour.hour == {{ h }}"
                  :style="{backgroundColor: hour.subject.color}"
                >
                  <div class="subject">{{'{{'}} hour.subject.nrc + ' ' + hour.subject.name {{'}}'}}</div>
                  <div class="tutor"><i>{{'{{'}} hour.subject.tutor.name {{'}}'}}</i></div>
                  <div class="classroom">({{'{{'}} hour.classroom.name {{'}}'}})</div>
                </div>
              </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/schedule.js"></script>
{% endblock %}
