{% extends 'layouts/main.html' %}

{% macro select_classroom(day) %}
<select
  {% if day == 0 %}id="subject-classroom-main"{% else %}class="subject-classroom"{% endif %}
  name="day_room_{{ day }}"
  data-day={{ day }}>
  <option value="">Salón</option>
  {% for classroom in classrooms %}
  <option value="{{ classroom.id }}">{{ classroom.name }}</option>
  {% endfor %}
</select>
{% endmacro %}

{% block content_main %}
<div class="row">
  <div class="col-sm-12 main-container">
    <h3>Agregar materia</h3>

    <form method="post" action="">
      {{ form.csrf_token }}

      {{ form.name(label='Materia', autofocus=True) }}
      {{ form.tutor_id(label='Profesor') }}
      {{ form.nrc(label='ID') }}
      {{ form.color(label='Color', type='color') }}
      {{ form.hours(label='Horas', readonly=True) }}

      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-right">Horarios</th>
            <th id="th-day-1">Lunes</th>
            <th id="th-day-2">Martes</th>
            <th id="th-day-3">Miércoles</th>
            <th id="th-day-4">Jueves</th>
            <th id="th-day-5">Viernes</th>
          </tr>

          <tr>
            <td class="text-right">
              {{ select_classroom(0) }}
            </td>
            {% for i in range(1, 6) %}
              <td>
                {{ select_classroom(i) }}
              </td>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for i in range(7, 21) %}
          <tr>
            <td class="text-right">{{ i }}:00</td>
            <td data-day="1" data-hour="{{ i }}" class="td-hover"></td>
            <td data-day="2" data-hour="{{ i }}" class="td-hover"></td>
            <td data-day="3" data-hour="{{ i }}" class="td-hover"></td>
            <td data-day="4" data-hour="{{ i }}" class="td-hover"></td>
            <td data-day="5" data-hour="{{ i }}" class="td-hover"></td>
          </th>
          {% endfor %}
        </tbody>
      </table>

      <button type="submit" class="btn btn-primary">{% if edit %}Guardar{% else %}Agregar{% endif %}</button>
    </form>

    <h3>Lista de materias</h3>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th class="col-int">ID</th>
          <th>Nombre</th>
          <th>Profesor</th>
          <th>ID</th>
          <th>Color</th>
          <th width="100" class="col-actions"></th>
        </tr>
      </thead>

      <tbody>
        {% for subject in subjects %}
          <tr>
            <td class="col-int">{{ subject.id }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.tutor.name }}</td>
            <td>{{ subject.nrc }}</td>
            <td class="col-color" style="background-color: {{ subject.color }}">{{ subject.color }}</td>
            <td>
              <form method="post" action="/subjects/{{ subject.id }}/delete">
                <a href="/subjects/{{ subject.id }}" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i></a>
                <button class="btn btn-danger btn-sm del-btn">
                  <i class="fa fa-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        {% else %}
          <tr>
            <td></td>
            <td>No hay materias</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/subjects.js"></script>
{% endblock %}
